[Unit]
Description=Enable ChatMix for the Steelseries Arctis Nova Pro Wireless
After=pipewire.service pipewire-pulse.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/nova-chatmix
Restart=on-failure

[Install]
WantedBy=default.target
