[Unit]
Description=Enable ChatMix for the Steelseries Arctis Nova Pro
After=pipewire.service pipewire-pulse.service
Wants=network-online.target

[Service]
Restart=no
Type=simple
ExecStart=%h/.local/bin/nova.py
Restart=on-failure

[Install]
WantedBy=default.target
